@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:  #faeff2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #f1356d ;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todowrapper {
   background-color: white;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid  #f1356d;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: slategray;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background:  #f1356d;
  color: #fff;
  border: 1px;
  border-radius: 3px;
  padding: 0.55rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background:#f1356d;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.todo.checked{
  background-color: rgb(14, 168, 14);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efedee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  /* height: 60px; */
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.modal-container {
  display: flex;
  max-width: 60vw;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;

  transition-duration: 0.3s;
  background: #fff;
}
.modal-title {
  margin: 0;
  font-weight: 400;
  color: #55311c;
}

/* .modal-desc {
  margin: 6px 0 30px 0;
} */
.modal-left {
  padding: 60px 30px 20px;
  background: #fff;
  flex: 1.5;
  transition-duration: 0.5s;
  opacity: 1;
}

/* .modal-right {
  flex: 2;
  font-size: 0;
  transition: 0.3s;
  overflow: hidden;
} */
/* .modal-right img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  -o-object-fit: cover;
  object-fit: cover;
  transition-duration: 1.2s;
} */

/* .modal.is-open .modal-left {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
} */
.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  ;
}
/* .modal-buttons a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
} */

/* .sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;
} */
/* .sign-up a {
  color: #8c7569;
} */

.input-button {
  padding: 8px 6px;
  outline: none;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #20088a;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  align-items: center;
}
.input-button:hover {
  background: #55311c;
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
  text-align: left;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.input-block p{
  color: red;
  font-size: 14px;
}
.input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
}
.input-block textarea{
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
}
.input-block select{
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
}
.input-block textarea::placeholder {
  color: #ccc;
  opacity: 1;
}

.input-block input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.input-block input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.input-block input::placeholder {
  color: #ccc;
  opacity: 1;
}
.input-block:focus-within {
  border-color: #8c7569;
}
.input-block:focus-within .input-label {
  color: rgba(140, 117, 105, 0.8);
}

@media (max-width: 750px) {
  .modal-container {
    max-width: 90vw;
  }

  .modal-right {
    display: none;
  }
}