@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:  #faeff2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #f1356d ;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todowrapper {
   background-color: white;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid  #f1356d;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: slategray;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background:  #f1356d;
  color: #fff;
  border: 1px;
  border-radius: 3px;
  padding: 0.55rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background:#f1356d;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.todo.checked{
  background-color: rgb(14, 168, 14);
}